 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 
 // #12
 <h2>Posts</h2>
 <img src="<%= gravatar(current_user) %>" />
 <%= render @user.posts %>
 <%= does_user_have_post(current_user)%>,
 <h2>Comments</h2>
 <%= does_user_have_comments (current_user)%>
 <%= render @user.comments %>
 
 <h3>Favorited posts</h3>
 
 <ul>
  <% @user.favorited_posts.each do |post| %>
  <li><%= post.title %></li>
  <% end %>
 </ul>
 